<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="CandidatesPage.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <script src="https://kit.fontawesome.com/290e4dbc0d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="btn">
        <span><i class="far fa-stop-circle"></i></span>
    </div>
    <nav class="sidebar">
        <div class="text">
            Filter By</div>
        <ul>

            <li>
                <a href="#" class="feat-btn">Employment Type
                    <span class="fas fa-caret-down first"></span>
                </a>
                <ul class="feat-show">
                    <li> <a href="#">
                            <input type="checkbox" />
                            Full time

                        </a></li>
                    <li><a href="#">
                            <input type="checkbox" />
                            Part time

                        </a></li>

                    <li><a href="#">
                            <input type="checkbox" />
                            Remote

                        </a></li>

                    <li><a href="#">
                            <input type="checkbox" />
                            Internship

                        </a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="serv-btn">Categories
                    <span class="fas fa-caret-down second"></span>
                </a>
                <ul class="serv-show">
                    <li><a href="#">
                            <input type="checkbox" />
                            Programming

                        </a></li>

                    <li><a href="#">
                            <input type="checkbox" />
                            Marketing

                        </a></li>

                    <li><a href="#">
                            <input type="checkbox" />
                            Others

                        </a></li>
                </ul>
            </li>
            <li><a href="#">Frontend </a></li>
            <li><a href="#">Backend</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Design</a></li>
        </ul>
    </nav>

    <script>
        $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
            $('nav ul .first').toggleClass("rotate");
        });
        $('.serv-btn').click(function () {
            $('nav ul .serv-show').toggleClass("show1");
            $('nav ul .second').toggleClass("rotate");
        });
        $('nav ul li').click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
    </script>

</body>

</html>